.container {
        border: 1px solid;
        width: 350px;
        margin: 200px auto;
        border-radius: 5px;
        box-shadow: rgba(16, 13, 13, 0.15) 0px 2px 8px;
        text-align: center;
        
        }      
.form-items {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
     }
h3 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
body {
    background-image:url(000images\ \(2\).jpg) ;
    background-size: cover;
    background-position: center;
}


